:root {
  --smoky-black: rgba(10, 9, 3, 1);
  --amber: rgba(255, 193, 0, 1);
  --red: rgba(255, 0, 0, 1);
  --vanilla: rgba(255, 234, 174, 1);
  --ut-orange: rgba(255, 130, 0, 1);
  --white-85: rgba(255, 255, 255, 0.85);
  --standard-font-family: "Arial-Regular", Helvetica;
  --standard-font-weight: 400;
  --standard-font-size: 12px;
  --standard-letter-spacing: 0px;
  --standard-line-height: 18px;
  --standard-font-style: normal;
  --title-1-font-family: "Arial-Bold", Helvetica;
  --title-1-font-weight: 700;
  --title-1-font-size: 24px;
  --title-1-letter-spacing: 0px;
  --title-1-line-height: normal;
  --title-1-font-style: normal;
  --sub-title-font-family: "Arial-Italic", Helvetica;
  --sub-title-font-weight: 400;
  --sub-title-font-size: 14px;
  --sub-title-letter-spacing: 0px;
  --sub-title-line-height: normal;
  --sub-title-font-style: italic;
  --card-title-font-family: "Arial-BoldItalic", Helvetica;
  --card-title-font-weight: 700;
  --card-title-font-size: 16px;
  --card-title-letter-spacing: 0px;
  --card-title-line-height: normal;
  --card-title-font-style: italic;
  --action-font-family: "Arial-Bold", Helvetica;
  --action-font-weight: 700;
  --action-font-size: 14px;
  --action-letter-spacing: 0px;
  --action-line-height: normal;
  --action-font-style: normal;
  --price-font-family: "Arial-BoldItalic", Helvetica;
  --price-font-weight: 700;
  --price-font-size: 12px;
  --price-letter-spacing: 0px;
  --price-line-height: normal;
  --price-font-style: italic;
}
